{% set title = "Privacy Policy" %}

{% extends "_layouts/site" %}

{% block main %}

<!-- Masthead -->

<header id="work-masthead" class="masthead flexbox">
	<div class="masthead-content main-container flexbox">
		{% for headline in entry.bannerHeadlines %}
		<div class="headlines">
			<div class="offset-underline">
				<h3>{{ headline.pageTitle }}</h3>
				<hr />
			</div>
			<h1>{{ headline.bannerHeadline }}</h1>
		</div>
		{% endfor %}
	</div>
</header>	

<!-- End Masthead -->

<!-- Privavy Policy -->

<section id="who-we-are" class="main-container">
	<div class="inner-container">

		<div class="headlines">
			<h1>Your privacy is important to us</h1>
		</div>

		<p><strong>This privacy policy is effective from 23/05/2018</strong></p>

		<p>&nbsp;</p>

		<h3>Who we are and what this privacy policy covers</h3>
		<p>The privacy of all our customers and web site users is critical to us at The Foundry Communications. This privacy policy outlines how your personal information will be treated.</p> <p>In order to do this, we have a few fundamental principles:</p>
		<ul>
			<li>We limit the collection of data for specific purposes and ensure that we have legitimate and lawful grounds for processing that data.</li>
			<li>We store personal information for only as long as we have a reason to keep it.</li>
			<li>We aim to ensure that the data we hold is accurate and up to date.</li>
			<li>We aim for full transparency on how we gather, use, and share your personal information.</li>
			<li>We implement security controls specifically to protect personal and sensitive data.</li>
		</ul>
		<p>Below is The Foundry’s privacy policy, which incorporates and clarifies these principles.</p>
		<p>Not all of the information set out below may apply to you. The Privacy Policy contains an overview of all possible interactions we may have with you and thus one or more of these may apply to you depending on how you have interacted with us.</p>
		<p>For all of our services, the data controller – the company that is responsible for the personal data that you share with us is The Foundry Communications, a company registered in England and Wales under company number 3974788.</p>
		<p>This privacy policy applies to information that we collect about you when;</p>
		<ul>
			<li>Using our websites (such as <a href="https://www.foundrycomms.co.uk">www.foundrycomms.co.uk</a>).</li>
			<li>Using other products and services that are available on or through our websites (including www.foundryhealthcare.com).</li>
			<li>Having personal interactions via various forms of electronic messaging, voice and video communication or face to face.</li>
			<li>Communication of relevant marketing information that you have either consented to or otherwise expect from us as part of an established relationship.</li>
			<li>Out of contractual necessity such as in the delivery or products or services or the employment of our staff.</li>
		</ul>
		<p>Throughout this Privacy Policy we’ll refer to our website and other products and services collectively as “Services”.</p>
		<p>Below we explain how we collect, use, and share information about you, along with the choices that you have with respect to that information.</p>
		<p>Please note that this Privacy Policy does not apply to any of our products or services that have a separate privacy policy. These will be presented to you as appropriate should these products or services relate to you.</p>
		<p>If you have any questions about this Privacy Policy, please contact us as described in the Contact Section below.</p>

		<h3>Access</h3>
		<p>You can access to the Foundry website and browse it without disclosing personal information.</p>

		<h3>Links</h3>
		<p>This web site may link to other web sites, The Foundry does not have control over. We are not responsible for the content of such web sites or for their own privacy practices, or for the way in which information about their users is treated. In particular, unless expressly stated, we are not agents for these sites nor are we authorised to make representations on their behalf.</p>
		
		<h3>Cookies</h3>
		<p>The Foundry will not use cookies to collect personally identifiable information about you. You can use your browser settings to restrict or block cookies set by our website. If you decide you wish to do this simply use the help function in your browser. If you do decide to restrict or block cookies this may impact the functionality of our website.</p>
		<p>For a more comprehensive guide visit <a href="https://www.aboutcookies.org">www.aboutcookies.org</a>. If you want to delete cookies on a mobile phone refer to your handset manual.</p>

		 
		<h3>What information do we hold about you, why and how we use it?</h3>
		<p>We only collect information about you if we have a reason to do so; for example, to answer a question you may have via our contact form, to communicate with you, or to make our services better.</p>
		<p>We collect the personal data that you may enter whilst using our services, including your name, email address, telephone number, position and business name. We do not collect information about our visitors from other sources, such as public records or bodies, or private organisations.</p>
		<p>The law on data protection specifies the different reasons a company can hold and process your personal data. We rely on one or more of the following legal grounds when we process your personal data:</p>
		<ul>
			<li><strong>Consent</strong><br />This applies when you provide your personal data and specifically consent to that information being used to provide further information or a service. For example, to send you information about our products and services you may consent to receive our email newsletter.</li>
			<li><strong>Contractual obligation</strong><br />This applies where we need to process your data in order to provide you with a service. For example, if you request a project estimate.</li>
			<li><strong>Legal obligations</strong><br />This is where we need to process your data in order to comply with the law. For example, pass on details where an individual in involved in criminal activity.</li>
			<li><strong>Legitimate interest</strong><br />This is where we use your personal information to enable us to accomplish our legitimate interests as may be reasonable excepted as part of us running our business.</li>
		</ul>

		<p>We collect information in three ways: if and when you provide information to us, automatically through operating our services, and from outside sources. Let’s go over the information that we collect.</p>
		<h3>1. Information you provide to us</h3>
		<p>It’s probably no surprise that we collect information that you provide to us. The amount and type of information depends on the context and how we use the information. Here are some examples:</p>
		<ul>
			<li><strong>Basic online information:</strong> We ask for basic information from you when you use our contact form or register to receive our newsletter. For example, to register for our newsletter then we will require your email address.</li>
			<li><strong>Communications with us:</strong> You may also provide us with information when you use our contact form to, communicate with our team or to ask us a question.</li>
		</ul>

		<h3>2. Information we collect automatically</h3>
		<p>We also collect some information automatically:
		<p><strong>Log Information:</strong> Like most online service providers, we collect information that web browsers, mobile devices, and servers typically make available, such as the browser type, IP address, unique device identifiers, language preference, referring site, the date and time of access, operating system, and mobile network information. We collect log information when you use our Services in order to assess the performance of our systems.</p>
		<p><strong>Usage Information:</strong> We collect information about your usage of our Services. For example, we collect information about the actions that administrators and users perform – in other words, who did what, when and to what thing on our system (e.g. updating product information) along with information about your device (e.g., mobile screen size, name of cellular network, and mobile device manufacturer). We use this information to, for example, provide our Services to you, as well as get insights on how people use our Services, so we can make our Services better.</p>
		<p><strong>Location information:</strong> We may determine the approximate location of your device from your IP address. We collect and use this information to, for example, calculate how many people visit our Services from certain geographic regions.</p>
		<p><strong>Information from cookies and other technologies:</strong> A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Pixel tags (also called web beacons) are small blocks of code placed on websites and e-mails. The Foundry uses cookies and other technologies like pixel tags to help us identify and track visitors, usage, and access preferences for our Services, as well as track and understand e-mail campaign effectiveness and to deliver targeted ads. For more information about our use of cookies and other technologies for tracking, including how you can control the use of cookies, please see here for information.</p>

		<h3>3. Information we collect from other sources</h3>
		<p>We may also obtain information from third party services about individuals who are not yet our clients (…but we hope will be!), which we may use, for example, for marketing and advertising purposes.</p>

		<h3>How we use information</h3>
		<p>We use information about you as mentioned above and as follows:</p>
		<ul>
			<li>To provide our Services<br />To answer any questions or request you make via our contact form<br />To send you relevant information about our services via email</li>
			<li>To further develop our Services - for example by adding new features that we think our users will find of benefit;</li>
			<li>To monitor and analyse trends and better understand how users interact with our Services, which helps us improve our Services and make them easier to use;</li>
			<li>To monitor and protect the security of our Services, detect and prevent fraudulent transactions and other illegal activities, fight spam, and protect the rights and property of The Foundry and others;</li>
			<li>To communicate with you about offers and promotions offered by The Foundry and others we think will be of interest to you, solicit your feedback, or keep you up to date on The Foundry and our products; and</li>
			<li>To personalise your experience using our online Services, provide content.</li>
		</ul>

		<table class="table-striped">
			<thead>
				<tr>
					<th style="width:30%">Information</th>
					<th style="width:70%">For what purpose we hold it</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Name</td>
					<td>This information is essential in order for us to identify you to make sure we address our response to the correct person.</td>
				</tr>
				<tr>
					<td>Email address</td>
					<td>This information is essential to enable us to contact you about your request in a timely manner and send you our email newsletter, if consent is given.</td>
				</tr>
				<tr>
					<td>Position</td>
					<td>This information is requested in order to make sure we provide you with the relevant response.</td>
				</tr>
				<tr>
					<td>Business name</td>
					<td>This information is requested in order to make sure we provide you with the relevant sector specific response.</td>
				</tr>
				<tr>
					<td>Telephone number</td>
					<td>This information is requested to enable us to contact you about your order in a timely manner.</td>
				</tr>
			</tbody>
		</table>

		<h3>How we share personal data</h3>
		<p>We do not sell our users’ private personal information.</p>
		<p>We share your personal data in the limited circumstances spelled out below and with appropriate safeguards on your privacy.</p>
		<p><strong>Subsidiaries, employees, and independent contractors:</strong> We may disclose information about you to our subsidiaries, our employees, and individuals who are our independent contractors that need to know the information in order to help us provide our Services or to process the information on our behalf. We require our subsidiaries, employees, and independent contractors to follow this privacy policy for personal information that we share with them.</p>
		<p><strong>With your consent:</strong> We may share and disclose information with your consent or at your direction. For example, we may share your information with third parties with which you authorise us to do so. Where we require your consent to share your data with 3rd parties you will find these listed under Sharing with Third Parties.</p>
		<p>We may also request your consent to process limited elements of your data in specific ways. Where we require this consent, it will be presented to you in a way that allows you to have a clear understanding of what you are consenting to and enable you to agree to this in a clear and positive way.</p>
		<p><strong>Sharing with third parties:</strong> We may share information about you with third party vendors who need to know information about you in order to provide their services to us. This group includes vendors that help us provide our Services to you (like independent new business consultancies) and those that help us understand and enhance our Services (like analytics providers). We require vendors to agree to privacy commitments in order to share information with them.</p>
		<p>With your consent or when considered a legitimate interest that does not negatively affect your rights and freedoms as an individual, we may also share your data with other third parties.</p>
		<p><strong>As Required by Law:</strong> We may disclose information about you in response to a subpoena, court order, or other governmental request.</p>
		<p><strong>To Protect Rights and Property:</strong> We may disclose information about you when we believe in good faith that disclosure is reasonably necessary to protect the property or rights of The Foundry, third parties, or the public at large. For example, if we have a good faith belief that there is an imminent danger of death or serious physical injury, we may disclose information related to the emergency without delay.</p>
		<p><strong>Business Sale or Transfers:</strong> In connection with any merger, sale of company assets, or acquisition of all or a portion of our business by another company, or in the unlikely event that The Foundry goes out of business or enters bankruptcy, user information would likely be one of the assets that is transferred or acquired by a third party. If any of these events were to happen, this Privacy Policy would continue to apply to your information and the party receiving your information may continue to use your information, but only consistent with this Privacy Policy.</p>
		<p><strong>Aggregated and De-Identified Information:</strong> We may share information that has been aggregated or reasonably de-identified, so that the information could not reasonably be used to identify you. For instance, we may publish aggregate statistics about the use of our Services.</p>
		<p><strong>Published Support Requests:</strong> And if you send us a request (for example, via a support email or one of our feedback mechanisms), we reserve the right to publish that request in order to help us clarify or respond to your request or to help us support other users.</p>
		<p><strong>Sale or Transfer:</strong> If we're discussing selling or transferring part or all of a business, we may share information about you to prospective purchasers - but only so they can evaluate that business. If we are reorganised or sold to another organisation, we may transfer information we hold about you to them, so they can continue to provide the services to you.</p>

		<h3>Publicly Shared Information</h3>
		<p>Information that you choose to make public is, you guessed it, disclosed publicly. That means, of course, that information like your public profile, posts, other content that you make public on our system. Public information may also be indexed by search engines or used by third parties. Please keep all of this in mind when deciding what you would like to share.<p>

		<h3>Security</h3>
		<p>While no online service is 100% secure, we work very hard to protect information about you against unauthorized access, use, alteration, or destruction, and take reasonable measures to do so. To enhance the security of your account, we encourage you to observe good security best practices with your account information, such as choosing strong passwords when registering with our systems and keeping this information secret.</p>
		<p>We employ a range of security controls throughout our organisation to ensure that we look after your personal data and protect it from loss, corruption or unauthorised access.</p>

		<h3>Retention</h3>
		<p>We only retain data for as long as is necessary to satisfy the following requirements:</p>
		<p><strong>Legal Requirements:</strong> We are required to meet legal obligations in terms of retention periods for some data, such as financial records and information.</p> 
		<p><strong>Contractual:</strong> Your data will be retained for the duration of your contract, as required by us to fulfil our contractual obligations. Following the end of the contract term we retain your information for a period of 5 years for marketing and business analysis purposes.</p>
		<p><strong>Marketing:</strong> Where data is held for marketing purposes then we hold this for 5 years of inactivity prior to destruction.</p>
		<p><strong>Business Analysis:</strong> Where data is held for business analysis purposes, data is limited to only that necessary to perform the analysis. We retain business analysis data for 5 years.</p>

		<h3>Data destruction/erasure</h3>
		<p>We always aim to keep the amount of personal data we hold to a minimum and so, unless we have received a specific request from you to erase any of your data before the retention periods expire, we will destroy/erase with an expired retention period as soon as the retention period has expired.</p>

		<h3>Your choices</h3>
		<p>You have several choices available when it comes to information that we hold about you:</p>
		<p><strong>Limit the information that you provide:</strong> You can choose not to provide the optional transaction, billing and contact information. Please keep in mind that if you do not provide this information, certain features of our Services may not be accessible (contact us for more information).</p>
		<p><strong>Opt-out of electronic communications:</strong> You may opt out of receiving promotional messages from us. Just follow the instructions in those messages. If you opt out of promotional messages, we may still send you other messages, like those about your account and legal notices.</p>
		<p><strong>Set your browser to reject cookies:</strong> At this time, The Foundry does not respond to “do not track” signals across all of our Services. However, you can usually choose to set your browser to remove or reject browser cookies before using The Foundry’s websites, with the drawback that certain features of The Foundry’s websites may not function properly without the aid of cookies.</p>

		<h3>Your rights</h3>
		<p>When it comes to personal data you have defined rights regarding how your data is collected, processed and shared. These rights are explained below:</p>
		<p><strong>The right of access:</strong> You have the right to request that we show you what personal data of yours we hold and process.</p>
		<p><strong>The right to withdraw consent:</strong> Where you have specifically given us consent to process your data then you have the ability to withdraw that consent at any time. Please be aware that where that data is used to provide your with services, then withdrawal of consent to use this data may negatively impact on our ability to provide those services for you.</p>
		<p><strong>The right to erasure:</strong> In specific circumstances, you have the right to request that any data we hold on you be erased. This includes where:</p>
		<ul>
			<li>Your personal data is no longer necessary in relation to the purpose for which it was originally collected/processed.</li>
			<li>You withdraw consent.</li>
			<li>You object to the processing and there is no overriding legitimate interest for continuing the processing.</li>
		</ul>
		<p><strong>The Right to object:</strong> There are cases where we may process some of your data in order to help us assess and improve our business. This type of processing may not be supported by a contractual requirement or your consent, but would have been carefully assessed to ensure that we have a clear legitimate interest in doing so that does not adversely affect you as an individual.</p>
		<p>In these instances, we make you aware of these activities along with your right to object to this kind of processing should you wish.</p>
		<p><strong>The right to rectification:</strong> If you become aware that any data we hold is incorrect you have the right to request that this data be corrected.</p>
		<p><strong>The right to data portability:</strong> You have the right to request that we provide you with an electronic copy of any data you have given to us as part of a contractual relationship or following your consent. This also includes any data about you that has been generated automatically as part of these agreements.</p>
		<p><strong>The right to restrict processing:</strong> In some situation you may require us to restrict processing, such as following an objection or if data accuracy is in question. Where you exercise your right to restrict processing we shall not recommence processing without first notifying you.</p>
		<p><strong>Automated decision making:</strong> As part of our ongoing efforts to improve the speed and quality of our service we use some automated decision-making processes. These processes are designed to provide fast, consistent results based on information contained within your personal data. If you are unhappy with having automated decisions made based on your personal data, then you have the right to request that these decisions are conducted by one of our staff instead.</p>

		<h3>Exercising your rights</h3>
		<p>If you wish to exercise any of your rights we would be happy to help you. Please use the contact details below to communicate your requirements.</p>

		<h3>Transfer of Information outside of the EEA</h3>
		<p>From time to time we may transfer your personal information to our group companies, suppliers or service providers based outside of the EEA for the purposes described in this privacy policy. If we do this your personal information will continue to be subject to one or more appropriate safeguards set out in the law. These might be the use of model contracts in a form approved by regulators, or having our suppliers sign up to an independent privacy scheme approved by regulators (like the US ‘Privacy Shield’ scheme).</p>

		<h3>Registering a Complaint</h3>
		<p>If you have any complaints about the way in which your personal data is being handled, then please contact us using the contact details below. Alternatively, you may also contact the national supervisory authority to register a complaint, their details can be found at <a href="https://ico.org.uk">ico.org.uk.</a></p>

		<h3>Contact Details</h3>
		<p>To contact us about your personal data or with any data requests, you may contact the our data controller at:</p>
		<p><strong>Data Protection</strong><br />
			<strong>The Foundry Communications Ltd</strong><br />
			3 Denmark Street<br />
			Altrincham<br />
			Cheshire<br />
			WA14 2SS<br />
			<strong>Email:</strong> <a href="mailto:dataprotection@foundrycomms.co.uk">dataprotection@foundrycomms.co.uk</a><br />
			<strong>Telephone:</strong> 0161 926 8444
		</p>
		
		<p><strong>Last Updated:</strong> 23.05.18</p>
		
		<p>&nbsp;</p>
	</div>
</section>


<!-- End Privavy Policy -->

<!-- Client Slider -->

<div id="client-slider">
	<section class="center slider">
		{% set clients = craft.entries.section('clients') %}
		{% for client in clients %}
		<div>
			{% if client.clientLogo | length %}
			{% set image = client.clientLogo.first() %}
				<img src="{{ image.url }}" alt="{{ image.title }}">
			{% endif %}
		</div>
		{% endfor %}
	</section>
</div>	

<!-- End Client Slider -->

{% endblock main %}